:host {
    display: block;
    height: 100%;

    .app-container {
        display: grid;
        grid-template-columns: minmax(100px, 1fr) 10fr;
        height: 100%;
    }

    .navbar {
        background-color: #e6e6e6;
    }

    .outlet {
        background-color: #f2f2f2;
    }
}
