:host {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;

    .upper-section {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;

        .section-header {
            place-self: center;
            font-size: 2em;
        }

        .search-area {
            place-self: center;
            width: 80%;
        }
    }

    .country-list-container {
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 5px;
    }

    .country-item {
        width: 300px;
        max-width: 300px;

        margin: 5px;
    }

    ::ng-deep {
        .mat-card-actions {
            display: flex;
            justify-content: flex-end;
        }
    }
}
