<ng-container *ngIf="(formProperties$ | async) as formProperties">
    <div class="upper-section">
        <div class="section-header">{{ formProperties.displayName }}</div>
        <mat-form-field class="search-area" appearance="fill">
            <mat-label>Search countries</mat-label>
            <input matInput type="text" [(ngModel)]="searchText" autofocus>
            <button matSuffix mat-icon-button aria-label="Search" (click)="searchText=''">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <div class="section-header"></div>
    </div>

    <ng-container *ngIf="countries$ | async as countries">
        <div class="country-list-container" *ngIf="countries.length > 0 else no_data">
            <mat-card class="country-item" *ngFor="let item of countries | search: searchText">
                <mat-card-header>
                    <mat-card-title>{{ item.country }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-card-subtitle>Last Update Time: {{ item.day | date: 'dd/MM/YYYY' }}</mat-card-subtitle>
                    <mat-card-subtitle>Deaths: {{ item.deaths.total }}</mat-card-subtitle>
                    <mat-card-subtitle>Active: {{ item.cases.active }}</mat-card-subtitle>
                    <mat-card-subtitle>Recovered: {{ item.cases.recovered }}</mat-card-subtitle>
                    <mat-card-subtitle>Tests: {{ item.tests.total }}</mat-card-subtitle>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button *ngFor="let button of formProperties.buttons"
                        (click)="button.callback(item)">{{ button.title }}</button>
                </mat-card-actions>

            </mat-card>
        </div>
    </ng-container>
</ng-container>

<ng-template #no_data>
    <h2>
        No countries in list
    </h2>
</ng-template>